language: node_js
node_js:
  - '10'

cache: yarn

branches:
  only:
    - master

install:
  - yarn
  - yarn export:gh-pages

script:
  - echo "Skip testing..."

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  target-branch: gh-pages
  local-dir: out
  on:
    branch: master
