language: node_js
node_js:
  - '10'

cache:
  directories:
    - 'node_modules'

branches:
  only:
    - master

install:
  - npm install
  - npm run export:gh-pages

script:
  - echo "Exported successfully!"

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  target-branch: gh-pages
  local-dir: out
  on:
    branch: master
